

.header{
    height: 80px;
    top: 0;
    left:0;
    right:0;
    background-color: #373d47;
}

.header .item{
    margin:20px auto auto 100px;
}

.header .lab{
    margin:20px auto auto 100px;
    color: white;
    cursor: pointer;
}

.container{
    margin : 80px auto 0px 200px;
}

.container .date{
    margin : 20px auto auto 50px;
    cursor: pointer;
    height: 38px;
    font-size: 17px;
    line-height: 38px;
    padding: 20px 10px;
    border: 1px #76785c solid;
    border-radius: 3px;
}


.container .table-letter{

    margin: 100px auto auto 50px;
    width:700px;
    height:400px;
}