<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} 默认标题 {% endblock %}</title>
    <link rel="stylesheet" href="/static/plugin/jeDate/css/jedate.css">
    <link rel="stylesheet" href="/static/plugin/jeDate/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="/static/plugin/jeDate/stylesheets/normalize.css">
    <link rel="stylesheet" href="/static/plugin/jeDate/stylesheets/github-light.css">
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    {% include 'head.html' %}
    {% include 'leftnav.html' %}
    {% block contain %}



    {% endblock %}

    <script src="/static/plugin/echarts-3.6.2/dist/echarts.js"></script>
    <script src="/static/plugin/jeDate/jedate/jquery-1.7.2.js"></script>
    <script src="/static/plugin/jeDate/jedate/jquery.jedate.js"></script>
    <script src="/static/js/common.js"></script>
    {% block userjs %}{% endblock %}
</body>
</html>